<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <header th:replace="components/navbar :: navbar"></header>
    <main>
        <h1>Login</h1>
        <form th:action="@{/login}" method="post">
            <label>Username: <input type="text" name="username" required/></label><br/>
            <label>Password: <input type="password" name="password" required/></label><br/>
            <button type="submit">Login</button>
        </form>
        <a th:href="@{/register}">Don't have an account yet ? Click here to register.</a>
        <div th:if="${param.error}">
            <p style="color:red">Invalid username or password.</p>
        </div>
        <div th:if="${param.logout}">
            <p>Logged out successfully.</p>
        </div>
    </main>
    <footer th:replace="components/footer :: footer"></footer>
</body>
</html>
